[class*='_dd__option'] {
  display: flex;
  justify-content: space-between;
}

[class*='_dd__option'] > span {
  order: 2;
}

[class*='_dd__option--is-selected'] {
  color: #fff !important;
}

.lojing_dd__option--is-selected {
  background: #f18b32 !important;
}
