[class*='_dd__option'] {
  display: flex;
  justify-content: space-between;
}

[class*='_dd__option'] > span {
  order: 2;
}

[class*='_dd__indicators'] {
  transition: transform 0.25s ease;
}

[class*='_dd__control--menu-is-open'] > [class*='_dd__indicators'] {
  transform: rotateX(180deg);
}

[class*='_dd__option--is-selected']:not(:hover) {
  background-color: transparent !important;
}
